*.sass-cache/
*.sublime*
*~
.buildpath
.buildpath
.DS_Store
.DS_Store
.project
.project
.settings
.settings
/.gitattributes
backups/
docs/
webroot/
wordpress/.htaccess
wordpress/local-config.php
wordpress/wp-content/avatars
wordpress/wp-content/cache
wordpress/wp-content/debug.log
wordpress/wp-content/themes/*/compass_app_log.txt
wordpress/wp-content/uploads
wordpress/wp-content/w3tc

